@charset "utf-8";
/*reset*/
* { box-sizing: border-box;}
html, body{
          width:100%;
          height:100%;
          margin:0;
          padding:0;
          width:100%;
          font-size:14px;
          font-family:"나눔바른고딕", "NanumBarunGothic","맑은 고딕","Malgun Gothic";
        }
div,dl,dd,dt,h1,h2,h3,h4,h5,h6,p,form,fieldset,select{margin:0;padding:0}  
header,footer,section,article,address,nav{display: block;margin:0;padding:0;}    
ul,ol{list-style:none;margin:0;padding:0;} 
i,em,address{font-style: normal;}   
table{border-collapse: collapse;table-layout: fixed;}
a{text-decoration: none;color: #373737;}
button{background: none;border: none;margin:0;padding: 0;}

/* 상단팝업메뉴 */
.top{
      width: 100%;
      height: 44px;
      background: #ffbc4f;
      overflow: hidden;
      position: relative;
      z-index: 1;
}
.top .pop{
      width: 1194px;
      height: 44px;
      margin:0 auto;
      position: relative;
      }
.top .pop p{color: #fff;
            text-align: center;
            line-height: 44px;}  
.top .pop a{
      right: 0px;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
}   


/* 메뉴-네비 */
.white{width: 100%;
      height: 96px;
      box-shadow:1px 1px 3px 1px #cccccc;
      overflow: hidden;
      position: relative;}
.fixed{position: fixed;top: 0;background: #fff;z-index: 101;}

/* 로고 */
.white .menu h1{
      float: left;
      height: 96px;}
.menu h1 img{
      position: relative;
      top: 50%;
      transform: translate(0,-50%);
}
/* 네비 */
.menu{
      width: 1612px;
      height:96px;
      margin: 0 auto;
      overflow: hidden;
}
.menu .menu_list{
      float: left;
      margin-left: 80px;
}
.menu .menu_list li{
      float: left;
      padding: 0 30px;
      line-height: 96px;
      font-size: 18px;
}
/* 로그인-회원가입 등 */
.menu ol{
      float:left;
      margin: 0 40px;}
.menu ol li{
      float:left;
      padding: 0 14px;
      line-height: 96px;
} 

/* 검색-장바구니-언어 */
.menu .convinience{
      float: right;
      position: relative;
      top: 50%;
      transform: translate(0,-50%);
}

.menu .convinience li{
      float: left;
      padding: 0 14px;
      height: 36px;
}
.menu .convinience li:first-child span{
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0,-50%)}
.menu .convinience li:last-child a{
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0,-50%)}

.cart{position: relative;}
.cart a{
      display: block;
      background: url('../image/hd02_bag.png') no-repeat 0 0px;
      width: 32px;
      height: 36px;
      }              
.cart_icon{
      position: absolute;
      top:20px ;
      right: 12px;
      background:#d0a6fa;
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      text-align: center;}

/* 메인롤링 */
.main{
      position: relative;
      width: 100%;
      height: 562px;
      }
.main_bg a{
      display: block;
      height: 562px;}
/* 롤링버튼 */
.main .main_left, .main .main_right{
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      cursor: pointer;}
.main_left{left: 40px;}
.main_right{right: 40px;}

/* 롤링리모콘 */
.slick-dots{
      position: absolute;
      width: 90px;
      height: 18px;
      bottom: 2%;
      transform: translate(-50%,0);
      left:50%;
      }
.slick-dots li{
            float: left;
            margin: 0 4px;
            }
.slick-dots li button{
                  display: block;
                  width:12px ;
                  height: 12px;
                  border-radius: 50%;
                  background: #bfbfbf;
                  font-size:0;
                  }

.slick-dots li.slick-active button{background: #d0a6fa;}

/* 상품영역 */
.product{
      width: 100%;
      height: 520px;
      overflow: hidden;
      margin: 140px auto;
      }
.product.best{ height: 660px;
            }
.product h2{
      margin-bottom: 62px;
      font-size: 24px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      }
.product_all{
            position: relative;
            width: 1374px;
            height: 420px;
            margin: 0 auto; 
            }
.area_all{ 
      display: none;
      width: 1194px;
      height:415px;
      margin: 0 auto;
      overflow: hidden;
      }

/* 좌우버튼 */
.product .img a{
      display:block;
      width: 276px;
      height: 280px;}

.pro_bt .pro_left{
      position: absolute;
      top: 120px;
      left: 0;
      cursor: pointer;}
.pro_bt .pro_right{
      position: absolute;
      top: 120px;
      right:0;
      cursor: pointer;}

.product ol {overflow: hidden;
            }
.product ol li{
      float: left;
      margin: 0 11px;}
.product .text{line-height: 24px;}
.product .text p:first-child{
      margin-top: 8px;
      color: #787878;
      font-size: 12px;}
.product .text span{font-size: 12px;}

.product .sticker{
      display:table; 
      width:276px ;
      height: 38px;}
.product .sticker *{    
                  display: table-cell; 
                  vertical-align: middle;}
.product .sticker button{float:right;}


/* 베스트 네비게이션 */

.best .sort{
            width:1194px;
            height:100px;
            overflow: hidden;
            margin:0 auto;
            font-size:18px;
            text-align: center;
            }

.best .sort li {
      display: inline-block;
      padding-top: 6px;
      margin: 0 60px;}
.best .sort li.on{border-top: #d0a6fa 2px solid;}

/* 중간띠배너 */
.mid_tie{
            width: 100%;
            height: 400px;
            background: url('/image/sub.png') no-repeat center/cover;
            background-attachment: fixed;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            }
.tie_cont{padding-top: 135px;}
.mid_tie span{
      font-size: 48px;
      color: #fff;}
.mid_tie .tie_cont p{
      font-size: 16px;
      margin-top: 40px;}
.mid_tie .tie_cont p a{color: #fff;}

/* 서브배너 2종 */
.wedding, .daily{
      width: 100%;
      height:500px;
      overflow: hidden;}


/* 비디오 */
.sub_2{
      width:1194px;
      height:1000px;
      margin: 0 auto;}
.sub_2 h2{
      margin:150px auto 80px;
      font-size: 24px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      }
.video{
      width:1194px;
      height:700px;}

/* footer */
/* 1.sns */
.sns{
      position: relative;
      width:100%;
      height:48px;
      margin: 0 auto;
      background: url('/image/un.png') no-repeat 0;
      }
      
.sns_center ul{
            width: 388px;
            height:48px;
            margin: 0 auto ;
            background-color: #fff;
            }
.sns_center li{
            display: inline-block;
            padding:0 16px;
            text-align: center;
            }
.sns_center li a{
            width: 44px;
            height: 44px;}

/* 2. 중간 */
.four{
      overflow: hidden;
      width:1194px;
      height:210px;
      margin: 0 auto;
      padding-top: 42px;
      font-size: 12px;
      color: #787878;
      }
.four > div{
            float: left;
            height:110px;
      }

/* 아이콘처리 */
.four .cs {
      width:280px;
      background: url('/image/foot_1.png')no-repeat 0;
      margin-right: 59px}
.four .bank {
      width:274px;
      background: url('/image/foot_2.png')no-repeat 0;
      margin-right: 30px}
.four .deli {
      width:300px;
      background: url('/image/foot_3.png')no-repeat 0;
      margin-right: 50px}
.four .commu{width:175px;
      background: url('/image/foot_4.png')no-repeat 0;
      margin-right: 0px;}
.four .commu .text{width: 86px;}

/* 텍스트 처리 */
.four .text{
            float: right;
            width: 176px;
            height: 100%;
}
.four .deli .text{
      float: right;
      width: 200px;
      height: 100%;}
.four .text strong{
      display: block;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: bold;
      color: #9130f2;
}   
.four b{
      display:block;
      margin-bottom: 20px;
      font-size: 14px; 
}
.four .text p{line-height: 16px;}
.four .deli .text p:last-of-type{margin-top: 10px;}
.four .deli .text p:last-of-type a{color: #787878;}
.four .commu ul li {line-height: 20px;}
.four .commu li a{color: #787878;}
.four .text b{font-family: 'Times New Roman', Times, serif;}

/* 카피라이트 */
.copy{
      width:100%;
      height:220px;
      background: #f0f0f0;}
.copy_area{
      width:1194px;
      height:220px;
      margin: 0 auto;}
.copy_area .logo{
      position: relative;
      float: left;
      width: 146px;
      height: 74px;
      top:50%;
      transform: translate(0,-50%);}

.copy .copy_contents{ 
      width:680px; 
      height:150px;
      margin: 0 auto;
      padding-top: 54px;
      font-size: 12px;
      color: #787878;}
.copy .copy_contents ul li a{color: #787878;}
.copy .copy_contents ul{float: left;}
.copy .copy_contents ul li{
      float: left;
      padding: 0 52px 26px 0;}
.copy .copy_contents .copy_text p{
      float: left;
      padding: 0 0 14px 0;}

      